.chat-page-container {
  max-width: 960px;
  margin: 0 auto 20px;
  text-align: center;
}

.message-input-container {
  width: 100%;
  position: fixed;
  bottom: 20px;
}

.message-input {
  max-width: 500px;
  margin: 0 auto;

  input {
    width: calc(100% - 60px);
    outline: none;
  }
}
