.user-toggler {
  padding: 0 8px;
  cursor: pointer;

  &:hover {
    color: #4488aa;
  }
}

.user-actions {
  padding: 6px 8px;
  border: 1px solid lightgray;
  background-color: #f4f4f4;

  li {
    display: block;
    text-align: left;
    line-height: 24px;
  }
}
